<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Song</title>
</head>
<body>
<form method="POST" action="/songs">
    <label for="title">SongTitle:</label> <input name="title" id="title"/>

    <label for="length">SongLength:</label> <input name="length" id="length"/>

    <label for="trackNumber">SongTrackNumber:</label> <input name="trackNumber" id="trackNumber"/>

    <label for="album">Album:</label> <input name="album" id="album"/>


    <input type="submit"/>
</form>

</body>
</html>